NODE_ENV=production

# Render automatically provides PORT, so you can omit this.
# PORT=10000

# MongoDB Atlas
MONGO_URI=mongodb+srv://aboutankit4_db_user:Z8ixImWmmsjAyzyV@cluster0.hsdvsz0.mongodb.net/schoolerp?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRE=1d
JWT_REFRESH_SECRET=change_this_refresh_secret_key
JWT_REFRESH_EXPIRE=30d

# Frontend URL
CLIENT_URL=https://school-erp-1-h5f5.onrender.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Nodemailer (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=